/* ==========================================================================
    SMALL
   ========================================================================== */

small {
  @apply leading-default text-xs;
}
