/* ==========================================================================
    HORIZONTAL RULES
   ========================================================================== */

.hr {
  @apply py-base text-mercury;
}
