/* ==========================================================================
    META
   ========================================================================== */

.meta {
  @apply
    flex flex-wrap items-center
    -mx-2 -my-1
    leading-none;
}

.meta__item {
  @apply
    mx-2 my-1
    text-xs
    tracking-wider
    uppercase
  ;
}
